{% extends 'admin.html.twig' %}

{% block title %}Edit room{% endblock %}

{% block main %}
    {{ include('include/_blockuser.html.twig') }}
    <section id="blockAdmin">
        <div class="row mt-1 mb-1">
            <div class="col-12">
                <h2 class="text-end">Edition d'une salle</h2>

                {{ include('appli/room/_form.html.twig') }}
                {{ include('appli/room/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
