<h1>Bonjour<br><small>Confirmation du compte</small></h1>

<p>
    En cliquant sur le lien ci-dessous, vous confirmerez être à l'origine de la création du compte sur Eureka.<br><br>
    <a href="{{ signedUrl }}">Je clique sur le lien.</a>.<br><br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci.
    L'équipe d'Eureka.
</p>
