{% extends 'base.html.twig' %}

{% block title %}Edit course{% endblock %}

{% block main %}
{{ include('include/_blockuser.html.twig') }}
<section id="blockAdmin">
    <div class="row mt-1 mb-1">
        <div class="col-12">
            <h2 class="text-end">Edition d'une matière</h2>
        </div>
        <div class="col-12">
            {{ include('appli/course/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
</section>


{% endblock %}
