{% extends 'base.html.twig' %}

{% block title %}New course{% endblock %}

{% block main %}
    <h1>Ajout d'une nouvelle matière</h1>

    {{ include('appli/course/_form.html.twig') }}

    <a href="{{ path('app_appli_course_index') }}">Retour à la liste</a>
{% endblock %}
