{% extends 'base.html.twig' %}

{% block title %}Euréka - Ajout d'une matière{% endblock %}

{% block main %}
    <section id="blockUser">
        <div class="row mt-1 mb-1 align-items-center">
            <div class="col-3">
                <img src="{{ asset('images/svg/LogoIntro.svg') }}" class="img-fluid rounded-circle" alt="SansAvatar">
            </div>
            <div class="col-9">
                <h1 class="text-end" style="color: #FFFFFF;">Espace WebMaster</h1>
            </div>
        </div>
    </section>
    <section id="blockAdmin">
        <div class="row mt-1 mb-1">
            <div class="col-12">
                <h2 class="text-end">Ajout d'une nouvelle matière</h2>
            </div>
            <div class="col-12">
                {{ include('appli/course/_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
