{% extends 'base.html.twig' %}

{% block title %}New course{% endblock %}

{% block body %}
    <h1>Create new course</h1>

    {{ include('appli/course/_form.html.twig') }}

    <a href="{{ path('app_appli_course_index') }}">back to list</a>
{% endblock %}
