.modal{
  .modal-body{
    a{
      color : $green;
      text-decoration: none;
    }
    a.red{
      color: $red;
    }
    .card{
      border: none;
    }
  }
  .modal-footer{
    a{
      color: #ffffff;
    }
  }
}