.modal{
  .modal-body{
    a{
      text-decoration: none;
    }
    a.green{
      color: $green;
    }
    a.red{
      color: $red;
    }
    a.blue{
      color: $blue;
    }
    .card{
      border: none;
      a{
        text-decoration: none;
      }
      a.red{
        color: $red;
      }
      a.blue{
        color: $blue;
      }
    }
  }
  .modal-footer{
    a{
      color: #ffffff;
    }
  }
}