{% extends 'base.html.twig' %}

{% block title %}Edit Bookroom{% endblock %}

{% block main %}
    <h1>Edit Bookroom</h1>

    {{ include('appli/bookroom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('op_appli_bookroom_index') }}">back to list</a>

    {{ include('appli/bookroom/_delete_form.html.twig') }}
{% endblock %}
