{% extends 'admin.html.twig' %}

{% block title %}Edit Member{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){

            const fp = flatpickr("#member_ddn", {}); // flatpickr

            const SupprMedia = document.getElementById('SupprMedia')
            SupprMedia.addEventListener('change', function(){
                if (this.checked) {
                    console.log("Checkbox is checked..");
                } else {
                    console.log("Checkbox is not checked..");
                }
            })
        }
    </script>
{% endblock %}

{% block main %}
    {{ include('include/_blockuser.html.twig') }}
    <section id="blockAdmin">
        <div class="row mt-1 mb-1">
            <div class="col-12">
                <h2 class="text-end">Edition d'{% if member.typemember == 'Enseignant' %}enseignant.e{% elseif member.typemember == 'Etudiant' %}étudiant.e{% endif %}</h2>
                {{ include('admin/member/_form.html.twig') }}


                {{ include('admin/member/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
