{% extends 'admin.html.twig' %}

{% block title %}Member index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // constructeur
            const modalStudient = document.getElementById('modalStudient')

            // Edition d'une séance sur sa fiche Enseignant
            // -------------------------------------
            // I. Gestion de la modale
            modalStudient.addEventListener('show.bs.modal', function (event){
                const button = event.relatedTarget
                const recipient = button.getAttribute('data-bs-whatever')
                const modalBodyInput = modalStudient.querySelector('.idstudient')
                modalBodyInput.value = recipient
                axios
                    .get('/admin/member/'+ recipient)
                    .then(function(response){
                        document.getElementById('ModalBodyStudientAction').innerHTML = response.data.actions
                    })
            })

            function disactivated(event){
                event.preventDefault()
                let url = this.href
                axios
                    .post(url)
                    .then(function(response){
                        document.getElementById('liste').innerHTML = response.data.liste;
                        // initialisation du toaster
                        var toastHTMLElement = document.getElementById("liveToastAlerte");
                        var message = error.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, {animation: true, autohide: true, delay: 3000,});
                        toastElement.show();
                        // Ajout d'un évènement sur le click supprcustomer
                        document.querySelectorAll('a.disactivated').forEach(function (link) {
                            link.addEventListener('click', disactivated);
                        })
                    })
            }

            // Ajout d'un évènement sur le click supprcustomer
            document.querySelectorAll('a.disactivated').forEach(function (link) {
                link.addEventListener('click', disactivated);
            })

        }
    </script>
{% endblock %}

{% block main %}
    <section id="blockUser">
        <div class="row mt-1 mb-1 align-items-center">
            <div class="col-3">
                <img src="{{ asset('images/svg/LogoIntro.svg') }}" class="img-fluid rounded-circle" alt="SansAvatar">
            </div>
            <div class="col-9">
                <h1 class="text-end" style="color: #FFFFFF;">Espace WebMaster</h1>
            </div>
        </div>
    </section>
    <section id="blockAdmin">
        <div class="row mt-1 mb-1">
            <div class="col-12">
                {% if app.request.attributes.get('_route') == 'op_admin_member_listteacher' %}
                    <h2 class="text-end">Liste des enseignants.es</h2>
                    {% elseif app.request.attributes.get('_route') == 'op_admin_member_liststudient'%}
                        <h2 class="text-end">Liste des étudiants.es</h2>
                    {% else %}
                        <h2 class="text-end">Liste des membres</h2>
                    {% endif %}
                    <div id="liste">
                        {{ include('admin/member/include/_liste.html.twig') }}
                    </div>
                {% for member in members %}
                    {% if member.typemember == 'Enseignant.e' %}
                        <a class="btn btn-primary w-100" href="{{ path('op_admin_member_teacher') }}">Ajouter un nouvel enseignant</a>
                    {% elseif member.typemember == 'Etudiant.e' %}
                        <a class="btn btn-primary w-100" href="#">Ajouter un nouvel étudiant</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block modals %}
    <!-- Ajout de séances -->
    <div class="modal fade" id="modalStudient" tabindex="-1" aria-labelledby="modalStudient" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <input class="idstudient" type="hidden" value="">
                    <div id="ModalBodyStudientAction">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Message d'erreur -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToastAlerte" class="toast text-bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="">
                <strong class="me-auto">Alerte</strong>
                <small>à l'instant</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
{% endblock %}
