{% extends 'admin.html.twig' %}

{% block title %}Euréka - Liste des cours{% endblock %}

{% block main %}
    {{ include('include/_blockuser.html.twig') }}
    <section id="blockStudient">
        <div class="row mt-1 mb-1">
            <div class="col-12">
                <h2>Liste des cours sélectionnés</h2>
            </div>
        </div>
    </section>
{% endblock %}
