{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block main %}
<section id="blockUser">
    <div class="row mt-1 mb-1 align-items-center">
        <div class="col-3">
            <img src="{{ asset('images/svg/LogoIntro.svg') }}" class="img-fluid rounded-circle" alt="SansAvatar">
        </div>
        <div class="col-9">
            <h1 class="text-end" style="color: #FFFFFF;">Réservation</h1>
        </div>
    </div>

</section>
{% endblock %}
