{% extends 'base.html.twig' %}

{% block title %}Edit Registration{% endblock %}

{% block body %}
    <h1>Edit Registration</h1>

    {{ include('appli/registration/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_appli_registration_index') }}">back to list</a>

    {{ include('appli/registration/_delete_form.html.twig') }}
{% endblock %}
