<table class="table">
    <thead>
        <tr>
            <th>Nom & Prénom</th>
        </tr>
    </thead>
    <tbody>
    {% for registration in registrations %}
        <tr>
            <td>{{ registration.studient.firstName }} {{ registration.studient.firstName }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Pas d'étudiant.e inscrit.e</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

