{% extends 'base.html.twig' %}

{% block title %}New registration{% endblock %}

{% block main %}
    <h1>Create new registration</h1>

    {{ include('appli/registration/_form.html.twig') }}

    <a href="{{ path('app_appli_registration_index') }}">back to list</a>
{% endblock %}
