{% extends 'admin.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block main %}
    {{ include('include/_blockuser.html.twig') }}
    <section id="blockStudient">
        <div class="row mt-1 mb-1 justify-content-center">
            <h2 class="text-end">Mon espace</h2>
        </div>
        <div class="row mt-1 mb-3 justify-content-center">
            <div class="col-12">
                <h2 class="text-center">Je réserve mon cours</h2>
            </div>
        </div>
        {% for course in courses %}
        <div class="row mt-3 mb-3 justify-content-center">
            <div class="col-4">
                <a href="{{ path('op_appli_course_showforstudient', {'id':course.id}) }}">{{ course.name|upper }}</a>
            </div>
        </div>
        {% endfor %}

    </section>
{% endblock %}
