{% extends 'admin.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block main %}
    {{ include('include/_blockuser.html.twig') }}
    <section id="blockAdmin">
        <div class="row mt-1 mb-1 justify-content-center">
            <h2 class="text-end">Mon espace</h2>
        </div>
    </section>
{% endblock %}
